{% extends 'base.html' %}

{% block title %}
    {% if evento %}
        Show {{evento.show}}
    {% else %}
        Novo evento
    {% endif %}
{% endblock %}

{% block content %}
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Data/Horário</th>
                <th scope="col">Nome/Evento/Show</th>
                <th scope="col">Categoria</th>
                <th scope="col">Valor em R$</th>
            </tr>
        </thead>
        <tbody class="corpo-tabela">
            {% for evento in eventos %}
            <tr>
                <th scope="row"><a href="{% url 'atualizar' evento.id %}">{{evento.data}}</a></th>
                <td><a href="{% url 'atualizar' evento.id %}">{{evento.show}}</a></td>
                <td><a href="{% url 'atualizar' evento.id %}">{{evento.categoria}}</a></td>
                <td><a href="{% url 'atualizar' evento.id %}">{{evento.valor}}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'novo_even' %}">Criar Novo Evento</a>

    </div>
    </div>
    <footer>
        <div class="container-fluid">
            <div class="footer-linha row bg-dark">
                <div class="footer-bloco col-md text-center">
                    <div class="form-group">
                        <p>Digite seu endereço de e-mail para assinar este blog e receber notificações de novas publicações por e-mail.</p>
                        <small id="emailHelp" class="form-text text-muted">Nós nunca compartilharemos seu email.</small>
                        <form method="POST">
                        {% csrf_token %}
                        {{ email_html }}
                        <input type="submit" class="btn btn-success" value="Enviar">
                        </form>
                    </div>
                </div>
                <div class="footer-bloco col-md text-center">
                    Pesquise por Show
                </div>
                <div class="footer-bloco col-md text-center">
                    Facebook Beco das garrafas
                </div>
            </div>
        </div>
    </footer>
{% endblock %}