{% extends 'base.html' %}
{% block title %}
    {% if evento %}
        Show {{evento.show}}
    {% else %}
        Novo evento
    {% endif %}
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <div class="container-fluid bg-dark fundao">
        <div class="form-control">
            <h1>Adicione um novo evento</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                {% if evento %}
                    <input type="submit" class="btn btn-success" value="Atualizar Evento">
                    <button class="btn btn-success"><a href="{% url 'deletar' evento.id  %}">Remover</a></button>
                {% else %}
                    <input type="submit" class="btn btn-success" value="Criar Evento">
                {% endif %}
                    <button class="btn btn-success"><a href="{% url 'todos_eventos' %}">Voltar</a></button>
            </form>
        </div>
    </div>
{% else %}
    <div>{{evento.data.date}}</div>
    <div>{{evento.data.time}}</div>
    <div>{{evento.show}}</div>
    <div>{{evento.categoria}}</div>
    <div>{{evento.valor}}</div>
{% endif %}
{% endblock %}