<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Seja Bem Vindo!</h1>
    <p>Agora São: {{ now }}</p>
    <ul>
    {% for evento in eventos %}
        {% if evento == "ev1" %}
            <li><b>{{ evento }}</b></li>
        {% else %}
            <li>{{ evento }}</li>
        {% endif%}
    {% endfor %}
    </ul>
</body>
</html>