{% extends 'base.html' %}
{% load static %}
{% block title %}
    {% if evento %}
        Show {{evento.show}}
    {% else %}
        Todos Eventos
    {% endif %}
{% endblock %}

{% block content %}
<div class="fundao">
    <div class="conteudo container-fluid">
        <div class="row justify-content-md-center base_titulo">
            <h3>Próximos eventos</h3>
            <span class="caption_titulo_separador">/</span>    
            <div class="caption_titulo">Obrigado por nos visitar!</div>
        </div>
        <div class="caption_eventos"><a href="{% url 'todos_eventos' %}">Ver todos eventos</a></div>
        <div class="table-responsive-md">
            <table class="tabela table-responsive-md table-dark">
                <thead>
                    <tr>
                        <th scope="col-sm-4">Data</th>
                        <th scope="col-sm-4">Horário</th>
                        <th scope="col-sm-4">Nome/Evento/Show</th>
                        <th scope="col-sm-4">Categoria</th>
                        <th scope="col-sm-4 ">Valor em R$</th>
                    </tr>
                </thead>
                <tbody class="corpo-tabela">
                    {% for evento in eventos %}
                    <tr>
                        <th scope="row"><a href="{% url 'atualizar' evento.id %}">{{evento.mes_ano}}</a></th>
                        <td><a href="{% url 'atualizar' evento.id %}">{{evento.data.time}}</a></td>
                        <td><a href="{% url 'atualizar' evento.id %}">{{evento.show}}</a></td>
                        <td><a href="{% url 'atualizar' evento.id %}">{{evento.categoria}}</a></td>
                        <td><a href="{% url 'atualizar' evento.id %}">{{evento.valor}}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if user.is_authenticated %}
            <p>
                <a href="{% url 'novo_even' %}"><button class="btn btn-success btn_evento">Novo Evento</button></a>
            </p>
        {% endif %}
    </div>
{% endblock %}
