{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="bg-dark fundao container-fluid base_titulo" style="margin-top: 60px; height: 500px; display: inline-block; color: antiquewhite;">
    {% for post in posts %}
        <p><a href="{% url 'post' post.id %}">Publicado em: {{ post.data_publicacao }}</a></p>
        <h2><a href="{% url 'post' post.id %}">{{ post.title }}</a></h1>
        <p><a href="{% url 'post' post.id %}">{{ post.texto|linebreaksbr }}</a></p>
    {% endfor %}
</div>
{% endblock %}

