{% extends 'base.html' %}
{% load static %}
{% block title %}
    Todas as Postagens
{% endblock %}
{% block content %}
<div class="content container-fluid bg-dark">
    <div class="row">
        <div class="col-md-12">
            {% if user.is_authenticated %}
                <div class="date">
                    <a href="{% url 'novo_post' %}"><i class="fas fa-plus"></i></a>
                </div>
            {% endif %}
            {% for post in posts %}
                <div class="post post-form">
                    <div class="date">
                        <p>Publicado em: {{ post.data_publicacao }}</p>
                    </div>
                    <h2><a href="{% url 'post' post.id %}">{{ post.titulo }}</a></h2>
                    <p class="col-md-8 text-justify"><a href="{% url 'post' post.id %}">{{ post.texto|linebreaksbr }}</a></p>
                </div>
            {% endfor %}            
        </div>
    </div>
</div>
{% endblock %}
